# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE
.idea/

# Environment variables
.env
.env.local

# Docker
.dockerignore

project/.venv/
project/.venv

*/.venv
*.venv

project/htmlcov
project/.coverage
